@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

:root {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header {
  background-color: rgba(203, 208, 212, 0.696);
}

.aboutImg {
  border-radius: 100%;
}

.about-grap {
  position: absolute;
  top: -14%;
  left: -18%;
}

.sub_heading {
  font-family: "Inter", sans-serif !important;
  font-weight: 500;
  font-size: 20px;
}

.footertext {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white !important;
  text-decoration: none;
}

.main_heaidng {
  font-weight: bold;
  font-size: 25px;
}

.sourc {
  font-family: "Source Serif 4", serif !important;
}

.inter {
  font-family: "Inter", sans-serif !important;
}

.Sticky-header {
  font-family: "Source Serif 4", serif;
  background-color: #1c4935;
  color: white;
}

.f-25 {
  font-size: 20px;
}

.subheading {
  background: #50673b;
}

.pi-search {
  color: white !important;
}

.nav-link {
  color: white !important;
  font-family: "Inter", sans-serif;
  font-weight: 300 !important;
  font-size: 18px !important;
}

.subtext {
  color: #a77a43;
}

.request-proposal {
  border-radius: 20px !important;
  background-color: white !important;
  color: black !important;
  width: 220px;
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  font-size: 25px;
}

.objective-main {
  width: 100%;
  background-color: #e4d7c6;
  justify-content: center;
  align-items: center;
}

.team-main {
  width: 100%;
  background-color: #e4d7c6;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.filter-main {
  width: 60% !important;
  background-color: #f0e7d6;
  box-shadow: 4px 5px 4px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 11%;
}

.filter-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 12px;
}

.sort-main {
  width: 10% !important;
  background-color: #f0e7d6;
  box-shadow: 4px 5px 4px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0%;
}

.sort-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.object-contianer {
  border-radius: 20px;
  background-color: #f0e7d6;
}

.object_img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
  background-color: white !important;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin: 4px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon:hover {
  display: none !important;
}

.request-pr {
  background-color: #a77a43;
  color: white;
  border: none;
  border-radius: 30px;
}

.category-contianer {
  border-radius: 100%;
  border: 4px solid #a77a43;
  /* height: 200px; */
  margin: 10px !important;
}

.category_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 4px solid #a77a43;
}

.category_img1 {
  border-radius: 100%;
  border: 5px solid #1c4935;
}

.categorytext {
  color: #a77a43;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.category-main {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Sticky-header {
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 10;
}

.subheading {
  transition: background-color 0.3s ease;
  position: sticky;
  top: 0%;
  width: 100%;
  background-color: #50673b;
  z-index: 100;
}

.categoryview {
  transition: background-color 0.3s ease;
  position: sticky;
  top: 13%;
  width: 100%;
  background-color: #50673b;
  z-index: 10;
}

.subheading.sticky {
  position: fixed;
  top: 0%;
  /* padding-top: 0%; */
}

.Sticky-header.sticky {
  background-color: transparent;
}

.viewall {
  border: none;
  background-color: #a67a43;
  border-radius: 20px;
  font-size: 13px;
}

.viewallclient {
  border: none;
  background-color: #a67a43;
  border-radius: 20px;
  position: relative;
  z-index: 5;
  font-size: 13px;
}

.categoryview {
  background-color: #50673b;
  color: white;
  /* margin-top: 1px; */
}

.categoryall-contianer {
  border-radius: 50px;
  border: 5px solid #a77a43;
  /* height: 230px; */
}

.clients-main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../public/clients/client\ 1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.clients-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 250, 247, 0.738);
  z-index: 1;
}

.textindex {
  position: relative;
  z-index: 5;
}

.clients-main > .col-md-11 {
  position: relative;
  z-index: 2;
  color: green;
  border: 1px solid #d2bca0;
}

.clients-main img {
  position: relative;
  z-index: 3;
  opacity: 0.9;
}

.video {
  border-radius: 30px;
}

.testi_contianer {
  background-color: #faf7f1 !important;
  border-radius: 20px;
}

.review {
  background-color: #a77a43;
  min-height: 200px;
  border-radius: 10px;
  max-height: fit-content;
}

.testi_contianerm {
  margin: 15px !important;
}

.reviws {
  color: white;
  font-size: 10px;
  font-family: "Source Serif 4", serif;
}

.testimonal-image {
  position: absolute;
  top: -44%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  width: 180px;
  border-radius: 5px;
}

.review2 {
  margin-top: 100px;
}

.PositionR {
  position: relative;
}

.event_text {
  position: absolute;
  top: 40%;
  left: 40%;
}

.event_border {
  border: 4px solid white;
  height: 240px;
  position: absolute;
  z-index: 5 !important;
  top: 14%;
  left: 13%;
  width: 450px;
}

.seo {
  background-color: #50673b;
  color: white;
}

.footer {
  background-color: #1c4935;
  color: white;
}

.join-btn {
  border-radius: 30px;
  border: none;
  color: #1c4935;
  font-weight: 400;
}

.footer_icons {
  font-size: 40px;
}

.skipp {
  width: 50px;
  height: 50px;
  background-color: #50673b;
  color: white;
  border-radius: 100%;
}

.footer-proposal {
  border-radius: 40px;
  border: none;
  color: #1c4935 !important;
  font-weight: bold;
}

.list {
  list-style: none !important;
}

.stikylogo {
  position: fixed;
  right: 2%;
  z-index: 100;
  bottom: 4%;
}

.banner-text {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 70%;
}

.contact-us {
  border: none;
  border-radius: 100px;
  background-color: #f0e7d6;
}

.textbold {
  font-weight: bold;
}

.linktype {
  list-style: none;
  text-decoration: none;
  color: black;
}

.dropdown-item:active {
  background-color: #1c4935 !important;
}

.dropdown-item:active a {
  color: white !important;
}

.cursor {
  cursor: pointer;
}

.hr-line {
  border-color: white !important;
}

/* 

PINK - #F0E7D6
Light Green - #50673B
Medium Green - #1C4935
Dark Green - #08271

Source Serif 4
Inter
*/

.svg_1 {
  position: absolute;
  z-index: 1;
  top: 78%;
  left: -7%;
  opacity: 0.3;
}

.svg_2 {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 6%;
  opacity: 0.3;
  z-index: 0;
}

.index_value {
  position: relative;
  z-index: 5;
}

.svg_6,
.svg_3,
.svg_5,
.svg_7 {
  position: absolute;
  z-index: 10;
  top: 104%;
  right: 0%;
  opacity: 0.3;
  z-index: 0;
}

.svg_3 {
  left: -4%;
}

.svg_5 {
  top: 91%;
  left: 42%;
}

.svg_7 {
  left: -2%;
  top: -12%;
  z-index: 0 !important;
}

.fs-15 {
  font-size: 16px;
  font-weight: bold;
}

/* about */
.about-cate {
  font-family: "Inter", sans-serif;
  border: 1px solid rgb(136, 93, 62);
  border-radius: 25px;
  background-color: #f3e7d9;
  font-weight: bold;
  min-width: 180px;
  max-width: 250px;
  text-align: center;
}

.about-us {
  font-family: Arial, sans-serif;
  position: relative;
}

.main_heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.meet-founder {
  position: relative;
  width: 100%;
  background-image: url("https://thefacilitationhub.com/wp-content/uploads/2023/02/business-conversation-starters.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.meet-founder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #80592ff1;
  z-index: 1;
}

.meet-founder-content {
  position: relative;
  z-index: 2;
  color: white;
}

.team {
  width: 100%;
}

.icons {
  font-size: 25px;
}

.text_light {
  font-weight: 500;
}

.about-us {
  color: #1c4935;
  font-weight: 700;
  font-size: 20px;
  position: relative;
}

.about_svg1,
.about_svg2,
.about_svg3,
.about_svg4,
.meet-svg1,
.meet-svg2,
.journey-svg1,
.journey-svg2,
.journey-svg3,
.team-svg1,
.team-svg2,
.viewsvg1,
.viewsvg2,
.viewsvg3,
.viewsvg4,
.viewsvg5,
.viewsvg6,
.about_svg4herat,
.whatwedo,
.team-svghear,
.team-svg5 {
  position: absolute;
  opacity: 0.4;
}

.viewsvg1 {
  top: 75%;
  z-index: -2;
}

.viewsvg3 {
  top: 80%;
}

.viewsvg6 {
  bottom: 40%;
  right: 0%;
  z-index: -1;
}

.viewsvg5 {
  top: 70%;
  left: 20%;
}

.viewsvg4 {
  top: 30%;
  left: 40%;
}

.viewsvg2 {
  top: 80%;
  right: 0%;
}

.team-svg1 {
  top: -12%;
  right: 75%;
  z-index: 1;
}

.team-svg5 {
  top: 15%;
  right: 95%;
  z-index: 1;
}

.team-svg2 {
  bottom: 0%;
  right: 0%;
}

.team-svghear {
  bottom: 6%;
  left: 83%;
}

.about_svg1 {
  top: -15%;
  right: 0%;
}

.about_svg4 {
  top: -10%;
  right: 30%;
}

.whatwedo {
  top: 80%;
  right: 0%;
}

.about_svg2 {
  top: -10%;
  right: 0%;
}

.about_svg3 {
  bottom: -30%;
  left: -9%;
}

.about_svg4herat {
  bottom: -25%;
  left: 8%;
}

.meet-svg1 {
  top: 90%;
  left: 0%;
  z-index: 9 !important;
}

.meet-svg2 {
  bottom: 0%;
  left: 79%;
}

.journey-svg1 {
  top: 10%;
  left: 5%;
}

.journey-svg2 {
  top: 40%;
  right: 5%;
}

.journey-svg3 {
  top: 80%;
  left: 25%;
}

/* time line */

#timeline-content {
  margin-top: 50px;
  text-align: center;
}

/* Timeline */
.timeline {
  border-left: 4px solid #a77a43;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  /* margin: 50px auto; */
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  /* text-align: left; */
  font-weight: 100;
  /* max-width: 50%; */
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 120px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -285.5px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 20px;
  max-width: 150px;
  min-width: 200px;
  font-weight: 700;
}

.timeline .event:after {
  box-shadow: 0 0 0 4px #a77a43;
  left: -57.85px;
  background: #a77a43;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.hg-image1,
.hg-image2,
.hg-image3 {
  position: absolute;
}

.hg-image1 {
  top: 20%;
  opacity: 0.9;
}

.hg-image2 {
  top: 10%;
  right: 15%;
  opacity: 0.6;
}

.hg-image3 {
  top: 60%;
  right: 5%;
  opacity: 0.6;
}

.team-name {
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", sans-serif !important;
}

.team-position {
  font-weight: 600;
  font-family: "Inter", sans-serif !important;
}

.select {
  border-radius: 20px;
  border: 1px solid #1c4935;
  text-align: center;
  width: 150px;
  /* padding-right: 24px !important; */
}

.filterbtn {
  border-radius: 10px;
  border: 1px solid #1c4935;
  width: 120px;
  background-color: #e4d7c6;
  padding: 0px !important;
}

/* a77a43 */
.f12 {
  font-size: 14px;
  font-weight: 500;
}

.reason {
  list-style-type: decimal;
  font-size: 20px;
}

.view-reason {
  background-color: #f3e7d9;
}

.individualtext {
  color: rgb(244, 238, 238);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.individual-contianer {
  border-radius: 10px;
  background-color: #a77a43;
  margin: 10px !important;
}

.view-contianer {
  border-radius: 10px;
  background-color: #50673b;
  margin: 10px !important;
}

.indi_img {
  border-radius: 10px;
}

.offerprice {
  text-decoration: rgba(146, 42, 42, 0.683) line-through;
}

.input_sty[type="checkbox"] {
  width: 15px;
  height: 15px;
  appearance: none;
  border-radius: 50%;
  border: 1px solid #aca6a6;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: white;
  margin: 0px;
}

.input_sty[type="checkbox"]:checked::before {
  content: "✓";
  color: rgb(86, 37, 37);
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.donebtn {
  background-color: #1c4935;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 600;
  width: 100px;
}

.mode {
  color: green;
}

.slick-prev,
.slick-next {
  z-index: 1;
  display: block;
  background-color: black !important;
}
.slick-track{
  display: inline-flex !important;
  width: auto !important;

}
.viewimg {
  border-radius: 40px;
  border: 4px solid #1c4935;
  width: 100%;
}

.categorycolor {
  color: #1c4935;
}

.direction {
  color: #7da2d3;
  text-decoration: underline;
}

.readmore {
  color: #5078ac;
  text-decoration: none;
  font-weight: 600;
  float: inline-end;
  cursor: pointer !important;
}

.book-now {
  border: none;
  background-color: #1c4935;
  color: white;
  border-radius: 10px;
}

.address {
  border: 1px solid #a67a43;
  border-radius: 20px;
}

.sub_sub_heading {
  font-size: 18px;
  font-weight: 500;
}

.footer-proposal1 {
  font-weight: 700;
  color: #1c4935;
  font-size: 18px;
}
.filter {
  background-color: #10b981 !important;
  border: none !important;
}